html, body {
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.2;
    background-color: #f8fafb;
}

.container {
    max-width: 1280px;
    width: 1280px;
    margin: 0 auto;
}

.user{
    color: blue;
    font-size: 18px;
    white-space: nowrap;
}

.time{
    font-size: 12px;
    white-space: nowrap;
}

.passwordButton{
    margin: 0 0 0 225px;
}

.flex {
    display: flex;
}

.flex-justify-content-center {
    justify-content: center;
}

a {
    text-decoration: none;
    color:black;
    text-transform: uppercase;
}

.box-128 {
    flex-basis: 128px;
    height: 128px;
    border: 1px solid black;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 10px;

}

.box-128:hover {
    transition-duration: 0.3s;
    transition-property: background-color;
    background-color: darkblue;
    color: white;
}

.label-input-text {
    flex-basis: 200px;
}

.logout-button {
    border: none;
    background-color:transparent;
    font-size: inherit;
    text-transform: uppercase;
    font-family: "DejaVu Sans", Arial, Helvetica, sans-serif;
    color: black;
}

.bottom-box {
    padding-top: 30px;
    background-color: lightblue;
}

.bottom-box:hover {
    transition-duration: 0.3s;
    transition-property: background-color;
    background-color: lightcyan;
    color: white;
}